.element_4 {

}

.element_4::before {
  content: "";
  width: 100%;
  width: 282px;
  height: 282px;
  background-image: url(../../../images/places/arkhyz.jpg);
  background-size: cover;
  background-position: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
 }