.element__like-btn {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/like-btn.svg);
  background-repeat: no-repeat;
  margin-top: 7px;
}

.element__like-btn:hover {
  opacity: .5;
}