.profile {
  max-width: 100%;
  min-height: 120px;
  margin: 40px 0 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

@media screen and (max-width: 1023px) {
  .profile {
    /* justify-content: center; */
    margin: 40px auto 0;
  }
}

@media screen and (max-width: 767px) {
  .profile {
    min-height: 282px;
    flex-direction: column;
    align-content: center;
    margin: 42px 19px 0;
  }
}