.header {
  min-height: 74px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  box-sizing: border-box;
  margin: 0;
  padding: 45px 0 0;
}

@media screen and (max-width: 767px) {
  .header {
    padding: 28px 0 0;
  }
}