.header {
  max-width: 880px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  box-sizing: border-box;
  margin: 0;
  padding: 45px 0 0;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 767px) {
  .header {
    max-width: 320px;
    padding: 28px 0 0;
  }
}