.popup__form {
  width: 360px;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .popup__form {
    width: 238px;
    height: 272px;
  }
}