.popup__form {
  width: 360px;
  /*height: 260px;*/
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .popup__form {
    width: 238px;
    /*min-height: 270px;*/
  }
}