.footer__copyright {
  margin: 0;
  color: #545454;
  font-size: 18px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    font-size: 14px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
