.profile__input {
  width: 100%;
  max-width: 336px;
  display: grid;
  grid-template-columns: 296px 24px;
  grid-template-rows: 70px 42px;
  column-gap: 18px;
  row-gap: 8px;
  margin-right: auto; 
}

@media screen and (max-width: 980px) {
  .profile__input {
    max-width: 282px;
    grid-template-columns: 235px 37px;
    grid-template-rows: 50px 50px;
    column-gap: 10px;
  }
}