.profile__edit-btn {
  width: 100%;
  width: 24px;
  height: 24px;
  background-image: url(../../../images/Edit_button.svg);
  background-repeat: no-repeat;
  background-size: contain;
  grid-row: 1;
  grid-column: 2;
  align-self: end;
  justify-self: end;
  margin-bottom: 7px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .profile__edit-btn {
    justify-self: start;
  }
}