.header__logo-mesto {
  max-width: 142px;
  margin: 0 0 40px;
}

@media screen and (max-width: 767px) {
  .header__logo-mesto {
    max-width: 100px;
    padding-left: 28px;
    margin: 0 0 30px;
  }
}