.profile__avatar {
  display: block;
  max-width: 100%;
  background-image: url(../../../images/avatar.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 120px;
  grid-row: span 2;
  grid-column: 1;
}