.profile__avatar {
  max-width: 100%;
  width: 120px;
  height: 120px;
  background-image: url(../../../images/avatar.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 120px;
  margin-right: 30px;
}

@media screen and (max-width: 1279px) {
  .profile__avatar {
    align-self: center;
  }
}

@media screen and (max-width: 1023px) {
  .profile__avatar {
    margin: 0;
  }
}