.popup__submit-btn {
  padding: 0;
  border-radius: 2px;
  width: 358px;
  height: 50px;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /*высота строки по скаченному макету normal, в онлайн режиме - указаны px */
}

.popup__submit-btn:hover {
  opacity: .8;
}

@media screen and (max-width: 767px) {
  .popup__submit-btn {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}