.element__text {
  margin: 0;
  max-width: 215px;
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 29px; /*высота строки по скаченному макету normal, в онлайн режиме - указаны px */
  white-space: nowrap; /* Текст не переносится на новую строку*/
  overflow: hidden; /* Обрезаем всё, что за пределами блока */
  text-overflow: ellipsis; /* многоточие */
}

@media screen and (max-width: 767px) {
  .element__text {
    font-size: 24px;
  }
}