.popup__field-name {
  min-height: 27px;
  padding: 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-size: 14px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap; /* Текст не переносится на новую строку*/
  overflow: hidden; /* Обрезаем всё, что за пределами блока */
  text-overflow: ellipsis; /* многоточие */
  }