.page {
  background-color: #000;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin: 0;
  padding: 0 200px;
}

@media screen and (max-width: 767px) {
  .page {
    padding: 0;
  }
}